.container {
    display: flex;
    flex-direction: column;
    max-width: 25vh;
    max-height: 25vh;
}

.row, .cell{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 5vh;
    height: 5vh;
    border: 1px solid lightgray;
}


