.funt {
    display: flex;
    flex-direction: row;
    gap: 10vh;
}

.holder {
    display: flex;
    flex-direction: column;
}


.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

.row, .cell{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 5px;
    height: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}



